* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

input {
    font-size: 12px;
}

a {
    color: #00B7FF;
}

.main {
    width: 1024px;
    margin: auto;
}

.subscribe .item-box {
    padding: 0px;
    margin: 0px;
}

.subscribe .item-box li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
}

.subscribe .item-box li.icon {
    color: gray;
    width: 30px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: bottom;
}

.subscribe .item-box li.icon .check {
    display: inline;
    color: green;
}

.subscribe .item-box li.icon .remove {
    cursor: pointer;
    color: gray;
    display: none;
}

.subscribe .item-box li.icon .remove:hover {
    color: red;
}

.subscribe .item-box:hover li.icon .remove {
    display: inline;
}

.subscribe .item-box:hover li.icon .check {
    display: none;
}

.subscribe .item-box li.input {
    width: 600px;
    position: relative;
    line-height: 20px;
}

.subscribe .item-box li.text {
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: initial;
}

.subscribe .item-box:hover li.text {
    color: green;
    text-decoration: none;
}

.subscribe .item-box li.text.unsubscribe,
.subscribe .item-box:hover li.text.unsubscribe {
    color: gray;
    text-decoration: line-through;
}

.subscribe .item-box li.input input {
    width: 600px;
    padding: 2px;
    display: block;
    height: 24px;
    outline: none;
}

.subscribe .item-box li.input input:active {
    outline: none;
}

.subscribe .item-box li.input button {
    position: absolute;
    background-color: transparent;
    top: 2px;
    right: 0;
    border: none;
    outline: none;
    font-size: 14px;
    color: gray;
}

.subscribe .item-box li.input button:active,
.subscribe .item-box li.input button:hover {
    outline: none;
}

.subscribe .subscriptions {
    padding: 10px 0;
}

.subscribe .error-message {
    padding-left: 30px;
    padding-top: 2px;
    color: red;
}

.subscribe .subscriptions .error-message {
    display: block;
    padding-left: 30px;
    font-size: 10px;
    margin-top: -3px;
}

.output .output-messages{
    max-height: 700px;
    overflow-y: auto;
}
.output .message {
    padding: 5px 0;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.output .message p {
    padding: 0;
    margin: 0;
    word-break: break-all;
}

.output .message p>label span {
    font-weight: bold;
}

.output .message p>label span::after {
    content: ":"
}

.output .output-title {
    margin: 14px 0;
}

.output .output-title h3 {
    display: inline;
}

.output .output-title label {
    padding-left: 10px;
}

.output .output-title label input {
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    height: 14px;
}